__pycache__
img_cache/inputfolder/*
img_cache/outputfolder/*

__pycache__/*
*.pyc
*.pyo
*.pyd
Dockerfile

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

README.md

deployment.yaml
service.yaml